div.loading { width: 200px; height: 200px; background: url(images/loading.gif) center center no-repeat; }
	div.loading span { display: none; }
	
div.googleButton { border: 1px solid #A9BBDF; margin: 5px; cursor: pointer; color: black; font-size: 12px; font-weight: normal; line-height: 160%; overflow: hidden; padding: 0 6px; text-align: center; }
div.googleButton { background: -moz-linear-gradient(center top , #FEFEFE, #F3F3F3) repeat scroll 0 0 transparent; -moz-border-radius: 0 2px 2px 0; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); -moz-user-select: none; }
div.googleButton { background: -webkit-gradient(linear, center top, center bottom, from(#FEFEFE), to(#F3F3F3)); border-radius: 0 2px 2px 0; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); }
	div.googleButton:hover { border: 1px solid #678AC7; }
	
div.googleButtonActive { border: 1px solid #678AC7; color: white; font-weight: bold; background: -moz-linear-gradient(center top , #6D8ACC, #7B98D9) repeat scroll 0 0 transparent; }
div.googleButtonActive { background: -webkit-gradient(linear, center top, center bottom, from(#6D8ACC), to(#7B98D9)); }